@use "../../Sass/abstract/variables" as *;
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}
.score-board {
  background-color: $darkAccent;
  padding: 1rem 5rem;
  border-radius: 8px;
}
.Lunch-btn {
  color: #fff;
  padding: 1rem 4rem;
  margin: 20px;
  font-size: 20px;
}
.score-board p {
  font-size: 20px;
}
.home-container img {
  width: 8em;
}

// Daily mission section
.mission-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
  max-width: auto;
}
.mission-task {
  padding: 0.5rem 1.5rem;
  text-align: center;
}
.overlay {
  background-color: $darkAccent;
  padding: 1.2rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.score-mission {
  margin: 0 auto;
}

// Events section
.nav-events {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-events p {
  font-weight: 600;
}
.upcomingContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.upcomingEvent {
  width: 45%;
  margin: 0 auto;
}

.overlay-event {
  background-color: $darkAccent;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
}

.description img {
  width: 100%;
}

.description small {
  padding: 5px 0;
}
