.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}
.form-control .reg-input {
  margin: 0 auto;
  display: flex;
}
form {
  padding: 4.5rem 3.5rem;
}
