@use "../../Sass/abstract/variables" as *;

.profile-container {
    width: 60vw;
    margin: 0 auto;
}

.profile-header {
    text-align: center;
}

.profile-header img {
    width: 15em;
}

.profile-header {
    margin-bottom: 1em;
}

.profile-complete ul {
    list-style-type: none;
}

.profile-complete ul li {
    margin-bottom: 0;
    padding: 0px 0 !important;
    text-align: center;
}

.profile-achievements {
    width: 100%;
}

.profile-achievements-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 60%;
    margin: 0 auto;
}

.profile-achievements-list li {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
}

.profile-plans-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 24em;
}

.profile-plans-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.profile-plans-description {
    background-color: $darkAccent;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.profile-plans-description img {
    width: 100%;
    height: 250px;
}

.profile-plans {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 2em;
}

.nav-events {
    width: 100%;
    text-align: left;
}

.nav-events p {
    font-size: 1.5em;
}