@use "../../Sass/abstract/variables" as *;

.achievements-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  height: 80vh;
  background-color: $secBackground;
}

.achievements-header {
  margin: 0 auto;
  font-size: 2em;
}

.achievements-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0 auto;
  margin-top: 2em;
}

.achievements-list li {
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.achievement-icon {
  width: 100%;
}

.achievement-modal-span {
  width: 100%;
}

.achievement-modal-icon {
  width: 50%;
}