*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1;
}

body {
  background-color: #051c4e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

.achievements-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.achievements-header {
  margin: 0 auto;
  font-size: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  align-items: center;
  justify-content: center;
}

.Logo-container {
  margin: 4rem 0;
}

h2 {
  margin: 1em 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3em;
}

span {
  color: #18a28e;
}

button {
  background-color: #18a28e;
  outline: none;
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
}

.SignUp-btn {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}

.login-btn {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}

h2 {
  text-align: center;
  font-weight: 500;
}

p {
  text-align: center;
  padding: 15px 0;
}

form {
  background-color: #263546;
  padding: 5rem 4rem;
  border-radius: 7px;
}

.form-control {
  margin-bottom: 1em;
  padding-bottom: 1.4em;
}

.form-control input {
  border: none;
  background-color: #d3d3d3;
  padding: 1.2em 1.5em;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
}
.form-control input::-moz-placeholder {
  color: #8f9ca6;
}
.form-control input::placeholder {
  color: #8f9ca6;
}

.Login-btn {
  display: flex;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.bold-txt {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.social-login {
  margin: 20px 0;
}

.social-login .overlay {
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
}

.social-login .overlay-2 {
  margin: 15px 0;
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
}

.social-login .overlay-3 {
  margin: 5px 0;
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}

.form-control .reg-input {
  margin: 0 auto;
  display: flex;
}

form {
  padding: 4.5rem 3.5rem;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.score-board {
  background-color: #263546;
  padding: 1rem 5rem;
  border-radius: 8px;
}

.Lunch-btn {
  color: #fff;
  padding: 1rem 4rem;
  margin: 20px;
  font-size: 20px;
}

.score-board p {
  font-size: 20px;
}

.mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-task {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.overlay {
  background-color: #263546;
  padding: 1.4rem 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.score-mission {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */