*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1;
}

body {
  background-color: #051c4e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

.achievements-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.achievements-header {
  margin: 0 auto;
  font-size: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  align-items: center;
  justify-content: center;
}

.Logo-container {
  margin: 4rem 0;
}

h2 {
  margin: 1em 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3em;
}

span {
  color: #18a28e;
}

button {
  background-color: #18a28e;
  outline: none;
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
}

.SignUp-btn {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}

.login-btn {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}

h2 {
  text-align: center;
  font-weight: 500;
}

p {
  text-align: center;
  padding: 15px 0;
}

form {
  background-color: #263546;
  padding: 5rem 4rem;
  border-radius: 7px;
}

.form-control {
  margin-bottom: 1em;
  padding-bottom: 1.4em;
}

.form-control input {
  border: none;
  background-color: #d3d3d3;
  padding: 1.2em 1.5em;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
}
.form-control input::placeholder {
  color: #8f9ca6;
}

.Login-btn {
  display: flex;
  margin: 0 auto;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.bold-txt {
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.social-login {
  margin: 20px 0;
}

.social-login .overlay-1 {
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
}

.social-login .overlay-2 {
  margin: 15px 0;
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
}

.social-login .overlay-3 {
  margin: 5px 0;
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: 80%;
  background-color: #51596a;
}

@media only screen and (min-device-width: 320px) {
  .profile-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .profile-pic {
    margin-bottom: 2em;
  }
  .hidden {
    display: none;
  }
  .profile-pic label {
    display: block;
    width: 8em;
    height: 3em;
    line-height: 3em;
    background-color: lightgray;
    color: black;
    border-radius: 20px;
    margin: 0 auto;
  }
  .profile-img {
    max-width: 10em;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .profile-next {
    width: 10em;
    margin: 0 auto;
    margin-bottom: 2em;
    color: white;
  }
  .profile-back {
    width: 10em;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: #840202;
    color: white;
  }
  .profile-description {
    margin-bottom: 2em;
  }
  .profile-description label {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .profile-description textarea {
    margin-top: 1em;
    width: 15em;
    margin: 0 auto;
  }
  .profile-listitem,
  .profile-staritem {
    list-style-type: none;
  }
  .profile-listitem label,
  .profile-staritem label {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
  }
  .profile-listitem label input,
  .profile-staritem label input {
    width: 50%;
    height: 2em;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .five-stars {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
  }
  .five-stars li {
    margin: 5px;
  }
  .profile-add {
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  hr.solid {
    border-top: 3px solid #bbb;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .profile-staritem {
    margin-bottom: 1em;
  }
  .overview-pic img {
    width: 10em;
  }
  .overview-desc p {
    font-size: 1.5em;
  }
  .overview-skills h2,
  .overview-company h2,
  .overview-desc h2 {
    margin-bottom: 0.5em;
  }
  .overview-skills ul {
    list-style-type: none;
  }
  .overview-rating {
    margin-bottom: 1em;
  }
  .overview-rating label {
    font-size: 1.5em;
  }
  .overview-company p {
    font-size: 1.5em;
  }
}
@media only screen and (min-device-width: 768px) {
  .profile-header {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .profile-label {
    margin-bottom: 2em;
  }
  .profile-img {
    max-width: 10em;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  .profile-next {
    width: 10em;
    margin: 0 auto;
    margin-bottom: 2em;
    color: white;
  }
  .profile-back {
    width: 10em;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: #840202;
    color: white;
  }
  .profile-description label {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .profile-description textarea {
    margin-top: 1em;
    width: 15em;
    margin: 0 auto;
  }
}
.active {
  color: #000;
}

.inactive {
  color: #fff;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}

.form-control .reg-input {
  margin: 0 auto;
  display: flex;
}

form {
  padding: 4.5rem 3.5rem;
}

.network-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  max-width: 600px;
  min-width: 500px;
  height: 80%;
  background-color: #51596a;
}

.network-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.tab-button {
  padding: 0;
  margin: 0;
  margin-top: 1.5em;
  background-color: gray;
  color: black;
  height: 8em;
  width: 8em;
  text-align: center;
}

.tab-button.active {
  background-color: lightgray;
}

.tab-button img {
  width: 60%;
}

.network-list-container {
  width: 100%;
}

.network-listitem {
  background-color: #263546;
  width: 60%;
  max-width: 300px;
  height: 5em;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}

.network-listitem img {
  height: 5em;
  width: 5em;
}

.network-listitem-container {
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.network-listitem-container p,
.network-listitem-container div p {
  margin: 0;
  padding: 0;
}

.network-listitem-container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.network-listitem-container div img {
  width: 1.3em;
  height: 1.3em;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}

.score-board {
  background-color: #263546;
  padding: 1rem 5rem;
  border-radius: 8px;
}

.Lunch-btn {
  color: #fff;
  padding: 1rem 4rem;
  margin: 20px;
  font-size: 20px;
}

.score-board p {
  font-size: 20px;
}

.home-container img {
  width: 8em;
}

.mission-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
  max-width: auto;
}

.mission-task {
  padding: 0.5rem 1.5rem;
  text-align: center;
}

.overlay {
  background-color: #263546;
  padding: 1.2rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.score-mission {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */