@use "../../Sass//abstract/variables" as *;
.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: center;
}
.Logo-container {
  margin-top: 16em;
  margin-bottom: 1em;
}

.Logo-container img {
  width: 6em;
}

h2 {
  margin: 1em 0;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3em;
}
span {
  color: $mainButton;
}
button {
  background-color: $mainButton;
  outline: none;
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
}
.SignUp-btn {
  font-size: 17px;
  font-weight: 600;
  color: $fontColor;
}
.login-btn {
  font-size: 17px;
  font-weight: 600;
  color: $fontColor;
}
