@use "../../Sass/abstract/variables" as *;

@media only screen and (max-width: 767px) {
  .Leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .filter {
    display: flex;
    justify-content: end;
    width: 80%;
    cursor: pointer;
  }
  .leaderboard-overlay {
    background-color: $darkAccent;
    margin: 2rem 0;
    width: 80%;
  }
  .leaderboard-desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .leaderboard-bio {
    padding: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .icons-fa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .icons-fa small {
    margin: 5px 0;
  }
  .leader-score {
    font-size: 25px;
  }
  .leaderboard-image {
    width: 5rem;
  }
  .leaderboard-name {
    font-size: 20px;
  }
  
  // Filter modal css
  .filter-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $darkAccent;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
  }
  
  .modalContent {
    text-align: center;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .filterModal-btn {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 768px) {
  .Leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .filter {
    display: flex;
    justify-content: end;
    width: 80%;
    cursor: pointer;
  }
  .leaderboard-overlay {
    background-color: $darkAccent;
    margin: 2rem 0;
    width: 60%;
    max-width: 620px;
  }
  .leaderboard-desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .leaderboard-bio {
    padding: 2.4rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .icons-fa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .icons-fa small {
    margin: 5px 0;
  }
  .leader-score {
    font-size: 25px;
  }
  .leaderboard-image {
    width: 5rem;
  }
  .leaderboard-name {
    font-size: 20px;
  }
  
  // Filter modal css
  .filter-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $darkAccent;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
  }
  
  .modalContent {
    text-align: center;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .filterModal-btn {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    margin: 10px 0;
  }
}

