@use "../../Sass/abstract/variables" as *;
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2em;
}
h2 {
  text-align: center;
  font-weight: 500;
}
p {
  text-align: center;
  padding: 15px 0;
}

form {
  background-color: $darkAccent;
  padding: 5rem 4rem;
  border-radius: 7px;
}
.form-control {
  margin-bottom: 1em;
  padding-bottom: 1.4em;
}
.form-control input {
  border: none;
  background-color: #d3d3d3;
  padding: 1.2em 1.5em;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  &::placeholder {
    color: $lightAccent;
  }
}
.Login-btn {
  display: flex;
  margin: 0 auto;
  color: $fontColor;
  font-size: 15px;
  font-weight: 600;
}
.bold-txt {
  color: $fontColor;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}
.social-login {
  margin: 20px 0;
  padding: 2rem;
}

.social-login .overlay-1 {
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}
.social-login .overlay-2 {
  margin: 15px 0;
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}
.social-login .overlay-3 {
  margin: 5px 0;
  background-color: #d3d3d3;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

// Media query for phones
@media only screen and (max-width: 767px) {
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 1em;
  }
  .login-container {
    height: 90vh;
  }
  .form-control input {
    padding: 1em 1.5em;
    font-weight: 500;
    outline: none;
    border-radius: 4px;
    &::placeholder {
      color: $lightAccent;
    }
  }
  .login-form {
    padding: 1.4rem 3rem;
  }
  .Login-btn {
    font-size: 12px;
    font-weight: 600;
    padding: 1rem 2rem;
  }
  .social-login {
    margin: 15px 0;
    padding: 1.6rem;
  }
  .social-login .overlay-1 {
    border-radius: 30px;
  }
  .social-login .overlay-2 {
    margin: 10px 0;
    border-radius: 30px;
  }
  .social-login .overlay-3 {
    background-color: #d3d3d3;
    border-radius: 30px;
    color: #000;
  }
}
//Tablet form
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .form-control {
    margin-bottom: 8px;
    padding-bottom: 1em;
  }
  .form-control input {
    padding: 1em 1.5em;
    font-weight: 500;
    outline: none;
    border-radius: 4px;
    &::placeholder {
      color: $lightAccent;
    }
  }
  .login-form {
    padding: 1.7rem 3rem;
  }
  .social-login {
    margin: 15px 0;
    padding: 1.6rem;
  }
  .social-login .overlay-1 {
    border-radius: 30px;
  }
  .social-login .overlay-2 {
    border-radius: 30px;
  }
  .social-login .overlay-3 {
    background-color: #d3d3d3;
    border-radius: 30px;
  }
  .login-container {
    height: 90vh;
  }
}
